.app > section {
  height: 100%;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & > section {
    aside {
      .ant-layout-sider-trigger {
        bottom: 70px;
      }
    }

    & > section{
      padding: 0 24px 24px;

      .ant-breadcrumb{
        margin: 16px 0;
      }

      main{
        padding: 24px;
        background-color: #fff;
      }
    }
  }

  footer {
    // height: 70px;
    text-align: center;
    color: #fff;
    background: #001529;
  }
}
